<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome to Littleroot Town!</h1>
<h2>A town that can't be shaded any hue.</h2>
<h3>You recently moved here with your mom. Professor Birch has a lab, and he gave you your starter. No one is around right now though. You should head to Route 101.</h3>
Options:
<ul>
  <li><a href="/users/<%=@user.id%>/r101">Go to Route 101</a></li>
  <li><a href="/users/<%=@user.id%>/secretbase">Go to the Secret Base</a></li>
  <li><a href="#">Go Home</a></li>
  <li><a href="#">Go to the Lab</a></li>
</ul>
</body>
</html>