<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome to Petalburg City!</h1>
<h2>Where people mingle with nature.</h2>
<h3>There is little of interest in Oldale Town; the simple town serves as a checkpoint for Pokémon Trainers traveling between Littleroot Town and Petalburg City.</h3>
Options:
<ul>
  <li><a href="/users/<%=@user.id%>/r101">Go to the Gym</a></li>
  <li><a href="/users/<%=@user.id%>/r102/">Go to Route 102</a></li>
  <li><a href="/users/<%=@user.id%>/r103">Go to Wally's House</a></li>
  <li><a href="/users/<%=@user.id%>/secretbase">Go to the Secret Base</a></li>
</ul>
</body>
</html>