<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<img src="<%=@first_random["sprites"]["front_default"]%>">
<br>
You caught <%=@first_random["name"]%>! Congratulations!
<br>
<a href="/users/<%=@user.id%>/r101">Go Back</a>
</body>
</html>