<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Route 101</h1>
<h2>A route in southwestern Hoenn, connecting Littleroot Town and Oldale Town.</h2>
<h3>This place is kind of dangerous but you have Pokemon to help fight off the wild Pokemon so it's ok.</h3>
Options:
<ul>
  <li><a href="/users/<%=@user.id%>/littleroot">Go back to Littleroot Town</a></li>
  <li><a href="/users/<%=@user.id%>/oldale_town">Go to Oldale Town</a></li>
  <li><a href="/users/<%=@user.id%>/secretbase">Go to the Secret Base</a></li>
  <li><a href="/users/<%=@user.id%>/r101/capture">Catch Pokemon</a></li>
</ul>
</body>
</html>