<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Route 102</h1>
<h2>A route in western Hoenn, connecting Oldale Town and Petalburg City.</h2>
<h3>This place is kind of dangerous but you have Pokemon to help fight off the wild Pokemon so it's ok.</h3>
Options:
<ul>
  <li><a href="/users/<%=@user.id%>/oldale_town">Go back to Oldale Town</a></li>
  <li><a href="/users/<%=@user.id%>/petalburg_city">Go to Petalburg City</a></li>
  <li><a href="/users/<%=@user.id%>/secretbase">Go to the Secret Base</a></li>
  <li><a href="/users/<%=@user.id%>/r102/capture">Catch Pokemon</a></li>
</ul>
</body>
</html>