<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Route 103</h1>
<h2>A route in southwestern Hoenn, connecting Littleroot Town and Oldale Town.</h2>
<h3>Due to the route's location, it has become a popular training spot for Trainers.</h3>
Options:
<ul>
  <li><a href="/users/<%=@user.id%>/littleroot">Go to Littleroot Town</a></li>
  <li><a href="/users/<%=@user.id%>/oldale_town">Go back to Oldale Town</a></li>
  <li><a href="/users/<%=@user.id%>/secretbase">Go to the Secret Base</a></li>
  <li><a href="/users/<%=@user.id%>/r103/capture">Catch Pokemon</a></li>
</ul>
</body>
</html>